
    <%- include("../partials/adminSidebar.ejs")%>
    <style>
          .heading {
                display: flex;
                justify-content: center;
           font-size: 30px;
                height: 60px;
                width: 100%;
                margin-top:40px;
                
            } 
    </style>
        <section>
            <div class="container mt-5 d-flex justify-content-center " style="background-color: whitesmoke; height:400px; border-radius: 30px;">
                <div class="col-md-6">
                    <div class="heading">Add Category</div>
                    <form id="productForm" action="/admin/category/add" method="post" onsubmit="return validateProductForm()" >
                        <div class="mb-3">
                            <label class="form-label">category Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="enter the name"
                                >
                                <span id="nameErr" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">description</label>
                            <input type="text" class="form-control" id="details" name="description"
                                placeholder="enter the description" >
                                <span id="detailsErr" class="text-danger"></span>
                        </div>
                        <!-- <div class="mb-3">
                            <label for="discount" class="form-label">Discount</label>
                            <input type="text" class="form-control" id="discount" name="discount" placeholder="enter the discount">
                            <span id="discountErr" class="text-danger"></span>
                        </div> -->
                        <% if(typeof message!=='undefined' ){ %>
                            <p class="d-flex justify-content-center" style="color: red ; margin-left: 50px;">
                                <%= message%>
                            </p>
                            <% } %>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

        </section>
        <script>
            function printError(elemId, hintMsg) {
                document.getElementById(elemId).innerText = hintMsg;
            }

            function validateProductForm() {
                let isValid = true;
                const name = document.getElementById('name').value;

                const details = document.getElementById('details').value;

                const discount = document.getElementById('discount').value;
                if (name.trim() === '') {
                    printError('nameErr', 'Please enter a category name');
                    isValid = false;
                } else if (!/^[a-zA-Z0-9\s]+$/.test(name.trim())) {
                    printError('nameErr', 'category  name should only contain alphanumeric characters');
                    isValid = false;
                } else {
                    printError('nameErr', '');
                }

                if (details.trim() === '') {
                    printError('detailsErr', 'Please enter cateogry description');
                    isValid = false;
                } else {
                    printError('detailsErr', '');
                }
                // if (discount.trim() === '' || isNaN(discount) || discount < 0 || discount > 100) {
                //     printError('discountErr', 'Please enter a valid discount percentage (0-100)');
                //     isValid = false;
                // } else {
                //     printError('discountErr', '');
                // }



                return isValid;
            }
        </script>
  <%- include("../partials/adminFooter.ejs") %>