<%- include("../partials/adminHeader.ejs")%>
<%- include("../partials/sideMenu.ejs")%>

<div class="container">
  <h1>Cropped Image</h1>
  <img src="<%= imagePath %>" alt="Cropped Image">
</div>

<%- include("../partials/footer.ejs")%>
