<!doctype html>
<html lang="en">

<head>
    <title>Admin SS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <style>
        #logo {
            visibility: hidden;
        }
    </style>
</head>

<body>

    <div class="wrapper d-flex align-items-stretch ">
        <nav id="sidebar" class="active ">
            <h2 id="logo"><a href="" class="logo">ShopSeeker</a></h2>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="/admin/dashboard"><span class="fa fa-home"></span>Dashboard</a>
                </li>
                <li>
                    <a href="/admin/products"><span class="fas fa-shopping-cart "></span>Products</a>
                </li>

                <li>
                    <a href="/admin/category"><span class="fas fa-list-alt "></span>Category</a>
                </li>
                <li>
                    <a href="/admin/brand"><span class="fas fa-bars "></span>Brands</a>
                </li>
                <li>
                    <a href="/admin/customer"><span class="fas fa-users "></span>Customers</a>
                </li>
                <li>
                    <a href="/admin/order"><span class="fas fa-shopping-bag "></span>Orders</a>
                </li>
                <li>
                    <a href="/admin/banner"><span class="fas fa-images "></span>Banners</a>
                </li>
                <!-- <li>
                    <a href="/sales"><span class="fas fa-chart-line "></span>Sales Report</a>
                </li> -->
                <li>
                    <a href="/admin/coupons"><span class="fas fa-tags "></span>Coupons</a>
                </li>
                <!-- <li>
                    <a href="#"><span class="fa fa-cogs"></span>Settings</a>
                </li> -->

            </ul>

            <div class="footer">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved by <a
                        href="">ecart@gmail.com</a>
                </p>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-3 ">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>

                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto " type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>


                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a id="logoutButton" class="btn btn-block  nav-link " href="/admin/logout">Logout</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </nav>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            <script>
                // Wait for the document to be ready
                document.addEventListener("DOMContentLoaded", function () {
                    // Select the logout button by its id
                    var logoutButton = document.getElementById('logoutButton');

                    // Add a click event listener to the logout button
                    logoutButton.addEventListener('click', function (event) {
                        // Prevent the default behavior of the link
                        event.preventDefault();

                        // Show SweetAlert confirmation
                        Swal.fire({
                            title: 'Are you sure?',
                            text: 'You will be logged out!',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Yes, log me out!',
                            cancelButtonText: 'No, cancel!',
                            reverseButtons: true
                        }).then((result) => {

                            if (result.isConfirmed) {

                                window.location.href = logoutButton.getAttribute('href');
                            }
                        });
                    });
                });
            </script>

            <script>

                $(document).ready(function () {
                    $('#sidebarCollapse').on('click', function () {


                        // Toggle the logo class based on the sidebar's state
                        $('#logoContainer').toggleClass('hidden-logo');
                    });
                });
            </script>

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>