<style>
    /* .copyright {
        justify-content: center;
    } */

    #foot {
        margin-top: 15rem;
    }
</style>

<!-- <footer class="bg-light text-center text-lg-start "   id="foot">
  
    <div class=" copyright  p-3 d-flex justify-content-center"
        style="background-color: rgba(0, 0, 0, 0.2); height:100% ; width: 100%;">
        © 2023 Copyright:
        <a class="text-dark" href="#">Ecart@gmail.com</a>
    </div>
    
</footer> -->
<!-- <footer class="bg-light text-center text-lg-start" id="foot">
    <div class="d-flex justify-content-center p-3" style="background-color: rgba(0, 0, 0, 0.2); ;">
        © 2023 Copyright:
        <a class="text-dark" href="#">Ecart@gmail.com</a>
    </div>
</footer> -->
<style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
  
    main {
      flex-grow: 1;
    }
  
    footer {
      background-color: rgba(0, 0, 0, 0.2);
      text-align: center;
      padding: 10px;
      height: 100px;
    }
  </style>
  
  <main>
      <!-- Your page content goes here -->
  </main>
  
  <footer id="foot">
      © 2023 Copyright:
      <a class="text-dark" href="#">Ecart@gmail.com</a>
  </footer>
  
