<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-+J+gkzv6+5zvJz5zgZn7wvzvJZ5+JZz5zvJz5zgZn7wvzvJZ5+JZz5zvJz5zvJZ5+JZz5zvJZ5+JZz5zvJZ5+JZw=="
    crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ecart</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    /* Customize the navbar */





    .navbar {
      background-color: #fff;
      /* Set the background color to white */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      /* Add a box shadow */
      padding: 10px;
      /* Add some padding */
      display: flex;
      flex-wrap: wrap;
    }

    /* Customize the logo */
    .navbar-brand {
      font-size: 32px;
      /* Increase the font size */
      font-weight: bold;
      /* Make the font bold */
      color: #333;
      /* Set the color to dark gray */
      padding: 10px;
      /* Add some padding */
    }

    /* Customize the search bar */
    .form-control {

      /* Remove the border */

      /* Add rounded corners */
      box-shadow: none;
      /* Remove the box shadow */

      /* Increase the font size */
      padding: 10px 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    /* Customize the categories dropdown menu */
    .custom-dropdown {
      position: relative;
      /* Add a position property */
    }

    .custom-dropdown.dropdown-toggle {
      background-color: transparent;
      /* Set the background color to transparent */
      border: none;
      /* Remove the border */
      color: #333;
      /* Set the color to dark gray */
      font-size: 16px;
      /* Increase the font size */
      padding: 10px 20px;
      /* Add some padding */
      cursor: pointer;
      /* Change the cursor to a pointer */
    }

    .custom-dropdown.dropdown-menu {
      background-color: #fff;

      border: none;

      border-radius: 0 0 10px 10px;
      /* Add rounded corners */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      /* Add a box shadow */
      margin-top: 0;
      /* Remove the top margin */
      padding: 0;
      /* Remove the padding */
      position: absolute;
      /* Add a position property */
      top: 100%;
      /* Position the dropdown menu below the button */
      left: 0;
      /* Position the dropdown menu to the left */
      display: none;
      /* Hide the dropdown menu by default */
    }

    .custom-dropdown.dropdown-menu a {
      color: #333;
      /* Set the color to dark gray */
      display: block;
      /* Make the link display as a block */
      font-size: 16px;
      /* Increase the font size */
      padding: 10px 20px;
      /* Add some padding */
      text-decoration: none;
      /* Remove the underline */
    }

    .custom-dropdown.dropdown-menu a:hover {
      background-color: #f2f2f2;
      /* Add a hover effect to the links */
    }

    /* Customize the account dropdown menu */
    /* .account-icon {
      font-size: 24px;
     
      color: #333;
     
      margin-right: 10px;
     
    } */

    .dropdown-menu a {
      display: flex;
      /* Make the links display as flex items */
      align-items: center;
      /* Align the items to the center */
    }

    .dropdown-menu a:hover {
      background-color: #f2f2f2;
      /* Add a hover effect to the links */
    }

    /* Customize the cart and wishlist icons */
    .cart-icon,
    .wishlist-icon {
      font-size: 20px
    }

    .form-control:focus {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      outline: none;

    }
      /* Initially hide the dropdown menu */
  .dropdown-menu {
    display: none;
  }

  /* Show the dropdown menu when the parent button is hovered */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-grey sticky-top ">
    <div class="container-fluid justify-content-between">
      <div class="d-flex col-lg-4 ">
        <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
          <img src="https://content.jdmagicbox.com/comp/warangal/s6/pwfl1537687529m6p3s6/catalogue/-0qgktw1xss.jpg"
            height="30" width="100" alt="ecart" loading="lazy" style="margin-top: 2px;" />
        </a>
        <form class="input-group w-auto my-auto d-none d-sm-flex ">
          <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search"
            style="min-width: 125px;" />
          <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
        </form>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="  collapse navbar-collapse justify-content-center" id="navbarNav">


        <ul class="navbar-nav ">
          <li class="nav-item active mx-5 ">
            <a type="submit" href="/home" class="btn ">
              <i class="fas fa-home fa-fw"></i> Home
            </a>
          </li>
          <li class="nav-item dropdown mx-5">


            <button class="btn dropdown-toggle dropdown" type="button" id="customDropdownButton" data-toggle="dropdown"
              role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-list-alt fa-fw"></i> Categories

            </button>
            <div class="dropdown">
              <div class="dropdown-menu" aria-labelledby="customDropdownButton">
                <% cat.forEach(function(c, index) { %>
                  <a class="dropdown-item" href="/products/category/<%= c._id %>" title=" <%= c.name %>">
                    <%= c.name.length> 10 ? c.name.substring(0, 10) + '...' : c.name %>
                  </a>

                  <% }); %>
              </div>
            </div>

          </li>
          <li class="nav-item dropdown mx-5">
            <div class="dropdown custom-dropdown ml-2">
              <button class="btn dropdown-toggle" type="button" id="customDropdownButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user account-icon"></i>
                <% if (userIsAuthenticated) { %>
                  Account
                  <% } else { %>
                    sign in
                    <% } %>
              </button>
              <div class="dropdown-menu" aria-labelledby="customDropdownButton">
                <% if (userIsAuthenticated) { %>

                  <a class="dropdown-item " href="/profile">
                    Profile <i class="fas fa-user  m-1 me-md-2"></i>
                  </a>
                  <a href="/wishlist" class=" dropdown-item border rounded py-1 px-3 d-flex align-items-center">
                    Wishlist <i class="fas fa-heart m-1 me-md-2"></i>
                  </a>
                  <a href="/cart" class=" dropdown-item border rounded py-1 px-3 d-flex align-items-center">
                    My cart <i class="fas fa-shopping-cart m-1 me-md-2"></i>
                  </a>
                  <a href="/orders" class=" dropdown-item border rounded py-1 px-3 d-flex align-items-center">
                    My Orders <i class="fas fa-shopping-bag m-1 me-md-2"></i>
                  </a>
                  <a href="/wallet" class=" dropdown-item border rounded py-1 px-3 d-flex align-items-center">
                    Wallet <i class="fas fa-shopping-bag m-1 me-md-2"></i>
                  </a>
                  <a id="logoutButton" class="dropdown-item" href="/logout">Logout<i
                      class="fas fa-sign-out-alt m-1 me-md-2"></i>


                  </a>


                  <% } else { %>
                    <a class="dropdown-item" href="/login">Login</a>
                    <% } %>
              </div>
            </div>
          </li>
          <li>

          </li>
        </ul>
      </div>













    </div>

  </nav>





  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Add this before the closing </body> tag -->
  <script>
    // Wait for the document to be ready
    document.addEventListener("DOMContentLoaded", function () {
      // Select the logout button by its id
      var logoutButton = document.getElementById('logoutButton');

      // Add a click event listener to the logout button
      logoutButton.addEventListener('click', function (event) {
        // Prevent the default behavior of the link
        event.preventDefault();

        // Show SweetAlert confirmation
        Swal.fire({
          title: 'Are you sure?',
          text: 'You will be logged out!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, log me out!',
          cancelButtonText: 'No, cancel!',
          reverseButtons: true
        }).then((result) => {

          if (result.isConfirmed) {

            window.location.href = logoutButton.getAttribute('href');
          }
        });
      });
    });
  </script>


</body>

</html>