<style>
.copyright
{
justify-content: center;
}
</style>
<footer class="bg-light text-center text-lg-start " style="height: 100px; " id="foot">
    <!-- Copyright -->
    <div class=" copyright  p-3 d-flex justify-content-center" style="background-color: rgba(0, 0, 0, 0.2); height:100% ; width: 100%;">
      © 2023 Copyright:
      <a class="text-dark" href="#">Ecart@gmail.com</a>
    </div>
    <!-- Copyright -->
  </footer>