
<%- include("../partials/userHeader.ejs")%>
<style>  .checkout-heading {
  font-family: 'YourChosenFont', sans-serif; 


}</style>
<div class="row justify-content-center mt-4">
  <div class="col-lg-8 text-center mb-4 bg-primary">
    <h4 class=" text-white checkout-heading mt-2">Payment</h4>
  </div>
</div>
<div class="container ">
  <div class="row justify-content-center">
    <div class="col-lg-4 mx-auto">
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold m-0 text-white">Order Total</h4>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Subtotal</h6>
            <h6 class="font-weight-medium">
            </h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Shipping</h6>
            <h6 class="font-weight-medium">₹ 10
            </h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Discount <b>

              </b></h6>
            <h6 class="font-weight-medium text-danger">- ₹

            </h6>
          </div>
        </div>
        <div class="card-footer border-secondary bg-transparent">
          <div class="d-flex justify-content-between mt-2">
            <h5 class="font-weight-bold">Total</h5>
            <h5 class="font-weight-bold" id="total">
              <input id="finalPrice" type="hidden" value="" name="finalPrice">
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mx-auto">
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold m-0 text-white">Payment Options</h4>
        </div>

        <div class="card-body">
          <form action="" method="post">
          <div class="form-group">
            <div class="custom-control custom-radio">
              <!-- <input type="hidden" name="selectedAddressForm" value=""> -->
              <input type="radio" class="custom-control-input" value="cod" name="radio" id="Cash-on-delivery"
                value="Cash on delivery" checked>
              <label class="custom-control-label" for="Cash-on-delivery">Cash on delivery</label>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-radio">
              <input type="radio" class=" js-radioInput custom-control-input" name="radio" value="online"  id="Online-payment"
                value="Online payment">
              <label class="custom-control-label" for="Online-payment">Online payment</label>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="payment" id="Wallet" value="Wallet">
              <label class="custom-control-label" for="Wallet">Wallet</label>
            </div>
          </div>
        </div>
        <div class="card-footer border-secondary bg-transparent">
          <a class="text-decoration-none"><button
              class=" my_button btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" type="submit">Place
              Order</button></a>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>




<script>
  const inputElems = document.getElementsByClassName("js-radioInput");
  const myButton = document.getElementById("my_button");

  for (let i = 0; i < inputElems.length; i++) {
    const elem = inputElems[i];
    elem.addEventListener("change", function () {
      let isDisabled = true;
      for (let j = 0; j < inputElems.length; j++) {
        if (inputElems[j].checked) {
          isDisabled = false;
          break;
        }
      }
      myButton.disabled = isDisabled;
    });
  }
</script>
     
   
