<%- include("../partials/userHeader.ejs")%>

    <head>
        <title>User Profile</title>
        <style>
            #foot {
                margin-top: 10rem;

            }
        </style>
    </head>

    <body>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h4>User Profile</h4>
                        </div>
                        <div class="card-body">
                            <% if (name) { %>
                                <form action="/profile/username/update" method="post" onsubmit="return validateName()">
                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input type="text" class="form-control" id="userName" value="<%=userData.name%>"
                                            placeholder="Enter your user name" name="name">
                                        <span id="nameError" class="text-danger"></span>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Save </button>
                                    </div>
                                </form>
                                <% } else if(email){ %>
                                    <form action="/profile/email/update" method="post"
                                        onsubmit="return validateEmail()">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" id="userEmail"
                                                value="<%=userData.email%>" placeholder="Enter your email" name="email"
                                                >
                                            <span id="emailError" class="text-danger"></span>
                                        </div>
                                        <div class="card-footer">
                                            <button id="emailbtn" type="submit" class="btn btn-primary">Save </button>
                                        </div>
                                    </form>
                                    <% } else { %>
                                        <form action="/profile/phone/update" method="post"
                                            onsubmit="return validateForm()">
                                            <div class="form-group">
                                                <label>phone</label>
                                                <input type="text" class="form-control" id="phone" maxlength="10"
                                                    value="<%=userData.phone%>" placeholder="Enter your phone"
                                                    name="phone">
                                                <span id="phoneError" class="text-danger"></span>
                                            </div>
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary">Save </button>
                                            </div>
                                        </form>
                                        <% } %>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script>
            function printError(elemId, hintMsg) {
                document.getElementById(elemId).textContent = hintMsg;
            }
            function validateName() {
                var name = document.getElementById("userName").value;

                printError("nameError", "");

                var isValid = true;
                if (name.trim() == '') {
                    printError('nameError', 'Please enter your name');
                    isValid = false;
                } else {
                    const nameRegex = /^[a-zA-Z\s]+$/;
                    if (!nameRegex.test(name)) {
                        printError('nameError', 'Please enter a valid name');
                        isValid = false;
                    }
                }

                return isValid;
            }
            function validateForm() {

                var phone = document.getElementById("phone").value;

                printError("phoneError", "");
                var isValid = true;

                if (phone.trim() === '') {
                    printError('phoneError', 'Please enter your phone number');
                    isValid = false;
                } else {
                    // const phoneRegex = /^\d{10}$/;
                    const phoneRegex = /^[1-9]\d{9}$/;

                    if (!phoneRegex.test(phone)) {
                        printError('phoneError', 'Please enter a valid 10-digit phone number');
                        isValid = false;
                    }
                }
                return isValid;
            }

            function validateEmail() {
                var email = document.getElementById("userEmail").value;

                printError("emailError", "");

                var isValid = true;

                if (email === '') {
                    printError('emailError', 'Please enter your email');
                    isValid = false;
                } else {
                    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                    // const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+\.com$/;
                    if (!emailRegex.test(email)) {
                        printError('emailError', 'Please enter a valid email');
                        isValid = false;
                    }
                }
              
                if (isValid) {
                    return confirm('Are you sure you want to update your email? If you proceed, you will be logged out and need to relogin.');
                }
                return isValid;
            }
        </script>



    </body>
   