<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>resetpassword</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    body {
      background-color: #f4f4f4;
      font-family: Arial, sans-serif;
    }

    /* .container {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
    } */
    .container {
      margin-top: 100px;
    }

    .card-header {
      background-color: #007bff;
      color: #fff;
      text-align: center;
      padding: 15px;
      border-radius: 8px 8px 0 0;
    }

    .card-body {
      padding: 20px;
    }



    label {
      font-size: 18px;
      font-weight: bold;
    }

    .form-con {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }

    .btn-primary {
      background-color: #007bff;
      border-radius: 30px;
      color: #fff;
      font-size: 18px;
      /* width: 12rem; 
       height: 3rem; */
      border: none;
      margin: 0 auto;
      /* Center the button horizontally */
      display: block;
      padding: 10px 20px;
      cursor: pointer;

    }

    .btn-primary:hover {
      background-color: #0056b3;
    }

    /* #eyeIcon {
        position: relative;
        margin-left: 36rem;
    
      
        font-size: 23px;
        color: #555;
    } */

    .inputbox {


      position: relative;
    }

    .form-group {
      display: block;
    }

    #eyeIcon {
      position: absolute;
      right: 70px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      color: #333;
      cursor: pointer;
    }

    #eyeIcon2 {
      position: absolute;
      right: 70px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      color: #333;
      cursor: pointer;
    }
  </style>
</head>

<!-- <body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        New password
                    </div>
                    <div class="card-body">
                        <form   method="post"  id="emailValidate" >
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Enter your password" required>
                                <input type="hidden" class="form-control" id="password" name="user_id"
                                    value="" >
                            </div> -->

<!-- <a style="color: white ;  font-size: 10px;" href="/admin/adminDashboard"><button
                                    type="submit" class="btn btn-primary">Login</button>
                            </a> -->

<!-- <a type=class="btn btn-primary""submit"  class="btn btn-primary">Click me</a> -->
<!-- <button class="btn btn-primary" type="submit">reset</button>


                        </form>
                    </div>
                    <% if(typeof message!=='undefined' ){ %>
                        <p style="color: red ; margin-left: 50px;">
                            <%= message%>
                        </p>
                        <% } %>
                            

                </div>
            </div>
        </div>
    </div> -->


<!-- <header class="header_section">
              <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                 
                  <a class="navbar-brand mx-auto" href="/">
                   
                  </a>
                </div>
              </nav>
            </header> -->

<body>


  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card  ">

          <div class="card-header bg-primary ">
            Changepassword
          </div>
          <div class="card-body">
            <form action="/forgetpassword/resetpassword" onsubmit="return passwordValidate()" id="passValidate"
              method="post">
              <div class="form-group mb-4">
                <div class="inputbox"> <input type="password" id="valpassword" name="password"
                    class="form-control border-dark white-black curved mx-auto" value=""
                    placeholder="Enter the new password" style="width: 80%; letter-spacing: 0.3rem;">
                  <i class="fas fa-eye" id="eyeIcon" onclick="togglePasswordVisibility()"></i>
                </div>

                <span class="error text-center text-danger" id="valPassErr" style="margin-left: 60px;"></span>
              </div>

              <div class="form-group mb-4">
                <div class="inputbox">
                  <input type="password" id="valcPassword" name="cPassword"
                    class="form-control border-dark white-black curved mx-auto" value=""
                    placeholder="Re-enter the password" style="width: 80%; letter-spacing: 0.3rem;">
                  <i class="fas fa-eye" id="eyeIcon2" onclick="togglePasswordVisibility2()"></i>
                </div>

                <span class="error text-center text-danger" id="valcPassErr" style="margin-left: 60px;"></span>
              </div>
              <% if(typeof message!=='undefined' ){ %>
                <h5 class="text-success text-center">
                  <%= message %>
                </h5>
                <% } %>

                  <!-- Go back link -->
                  <div class="text-center mt-3">
                    <h6 class="labels">Want to go home? <a href="/home">Go back</a></h6>
                  </div>

                  <!-- Submit button -->
                  <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary" style="width: 40%;">Update
                      Password</button>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <% if(typeof success!=='undefined' ){ %>
  <p class="text-success text-center " style="font: size 30px ;">
    <%= success%>
  </p>
  <a href="/login">click here to login page</a>
  <% } %>
    </div> -->

  <script>
    function printError(elemId, hintMsg) {
      document.getElementById(elemId).innerText = hintMsg;
    }
    function passwordValidate() {
      const password = document.getElementById('valpassword').value;
      const cpassword = document.getElementById('valcPassword').value;
      let isValid = true;
      if (password.trim() === '') {
        printError('valPassErr', '!Please enter your password');
        isValid = false;

      } else if (password.length < 3) {
        printError('valPassErr', 'Please enter a password with at least 3 characters');
        isValid = false
      } else if (!/\d/.test(password)) {
        printError('valPassErr', 'Password must include at least one number');
        isValid = false;
      }

      // Check for at least one special character
      else if (!/[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]/.test(password)) {
        printError('valPassErr', 'Password must include at least one special character');
        isValid = false;
      } else if (/\s/.test(password)) {
        printError('valPassErr', 'Password cannot contain any white spaces');
        isValid = false;
      }
      else {
        printError('valPassErr', '');
      }
      if (cpassword.trim() === '') {
        printError('valcPassErr', '!Confirm Password should not be blank');
        isValid = false;
      } else if (password !== '' && cpassword !== '' && password !== cpassword) {
        printError('valcPassErr', '!Password does not match');
        isValid = false;
      } else {
        printError('valcPassErr', '');
      }

      if (isValid) {
        return true;
      } else {
        return false;
      }
    }
  </script>
  <script>
    function togglePasswordVisibility() {
      const passwordInput = document.getElementById("valpassword");
      const eyeIcon = document.getElementById('eyeIcon');

      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        eyeIcon.classList.remove('fa-eye');
        eyeIcon.classList.add('fa-eye-slash');
      } else {
        passwordInput.type = 'password';
        eyeIcon.classList.remove('fa-eye-slash');
        eyeIcon.classList.add('fa-eye');
      }
    }
    function togglePasswordVisibility2() {
      const passwordInput = document.getElementById("valcPassword");
      const eyeIcon = document.getElementById('eyeIcon2');

      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        eyeIcon.classList.remove('fa-eye');
        eyeIcon.classList.add('fa-eye-slash');
      } else {
        passwordInput.type = 'password';
        eyeIcon.classList.remove('fa-eye-slash');
        eyeIcon.classList.add('fa-eye');
      }
    }

  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>